@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.b-desc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.b-desc__book-title {
  padding-top: 5%;
  font-weight: bold;
  font-size: larger;
  margin-top: 10%;
  margin-bottom: 0.5rem;
}

.b-desc__author {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.b-desc__metadata {
  padding-left: 0;
  padding-right: 15%;
}

.b-desc__book-image {
  height: 250px;
  width: 200px;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  
}
